#about {
    display: flex;
    align-items: center;
}

#about img {
    width: 30vmin;
    height: 32vmin;
    border-radius: 10px;
}

#about-bio {
    padding: 0vmin 5vmin;
}

#studio-info {
    padding: 5vmin 0;
}
