#demo_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

#demos img {
    height: 50vmin;
    border-radius: 10px;
}

#char_samples {
    padding: 5vmin 0;
}