#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 5vmin;
}

#nav-bar img {
    width: 35vmin;
}

#nav-links {
    display: flex;
    gap: 3vmin;
}

#nav-links a {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 4vmin;
    text-decoration: none;
    color: black;
}

#nav-links a:hover {
    color: #648391;
}