#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vmin;
}

#footer img {
    height: 5vmin;
    padding: 0;
    margin: 0;
}

#footer p {
    margin: 0 0 10px;
}