body {
    height: 100vh;
    background-color: #6e96a6;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Poller One', serif;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 3vmin;
    padding: 3vmin;
}