body {
    height: 100vh;
    background-color: #b8d6df;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Poller One', serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 234, 236);
    border-radius: 10px;
    margin: 5vmin;
    padding: 2vmin 5vmin;
}